.div {
    background-color: #1F2535;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.div button {
    color: #1F2535;
    background-color: white;
    
}


.text {
    color: white;
}

.text h1 {
    font-weight: bold;
}